<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta property="og:title" content="PathFinders Academy">
    <meta property="og:description" content="PathFinders • Become a profitable trader, step by step.">
    <meta property="og:image" content="https://www.academy-pathfinders.com/imgs/pathfinders-academy-illu.jpg">
    <meta property="og:type" content="website">
    
    <link rel="stylesheet" href="https://www.academy-pathfinders.com/style.css" />
    <link rel="icon" href="https://www.academy-pathfinders.com/imgs/favicon_PF_32.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://www.academy-pathfinders.com/main.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="menu-btn">
        <div class="menu-btn__lines"></div>
      </div>
      <a href="https://www.academy-pathfinders.com/" class="logo">
        <img src="https://www.academy-pathfinders.com/imgs/Logo_PathFinders.png" alt="logo PathFinders">
      </a>
      <ul class="menu-items">
        <li>
            <a href="#" class="menu-item expand-btn">Généralités</a>
            <div class="mega-menu expandable">
                <div class="content">
                  <div class="col" style="justify-content: center;">
                    <section>
                      <a href="#" class="img-wrapper">
                        <span class="img">
                          <img src="https://www.academy-pathfinders.com/imgs/mountain.jpg" alt="mountain" />
                        </span>
                      </a>
                    </section>
                  </div>
                  <div class="col">
                      <section>
                      <ul class="mega-links">
                        <li><a href="https://www.academy-pathfinders.com/generalites/introduction">🔥 Introduction au trading</a></li>
                        <li><a href="https://www.academy-pathfinders.com/generalites/terminologie">🎓 Concepts de Base</a></li>
                        <li><a href="https://www.academy-pathfinders.com/generalites/types-de-marche">📊 Types de Marchés et d'Actifs</a></li>
                        <li><a href="https://www.academy-pathfinders.com/generalites/fondamental-vs-technique">📈 Fondamental vs Technique</a></li>
                        <li><a href="https://www.academy-pathfinders.com/generalites/psychologie-debutant">🧠 Psychologie du Débutant</a></li>
                      </ul>
                      </section>
                  </div>
                  <div class="col">
                      <section>
                      <ul class="mega-links">
                        <li><a href="https://www.academy-pathfinders.com/generalites/gestion-risque-base">💰 Gestion des Risques de Base</a></li>
                      </ul>
                      </section>
                  </div>
                </div>
            </div>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Analyse Technique</a>
          <div class="mega-menu expandable">
            <div class="content">
              <div class="col" style="justify-content: center;">
                <section>
                  <a href="#" class="img-wrapper">
                    <span class="img">
                      <img src="https://www.academy-pathfinders.com/imgs/technical-analysis.jpg" alt="technical analysis" />
                    </span>
                  </a>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="https://www.academy-pathfinders.com/analyse-technique/theorie-de-dow">⚖ Théorie de Dow</a></li>
                    <li><a href="https://www.academy-pathfinders.com/analyse-technique/ichimoku">🍙 Ichimoku</a></li>
                    <li><a href="https://www.academy-pathfinders.com/analyse-technique/price-action">🚀 Price Action</a></li>
                    <li><a href="https://www.academy-pathfinders.com/analyse-technique/figures-chartistes">📈 Figures chartistes</a></li>
                    <li><a href="https://www.academy-pathfinders.com/analyse-technique/indicateurs">📊 Indicateurs</a></li>
                  </ul>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="https://www.academy-pathfinders.com/analyse-technique/wyckoff">〽 Wyckoff</a></li>
                    <li><a href="https://www.academy-pathfinders.com/analyse-technique/smart-money-concept">⚜ Smart Money Concept</a></li>
                    <li><a href="https://www.academy-pathfinders.com/analyse-technique/elliott-waves">🏄‍♂️ Elliott Waves</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Devenir rentable</a>
          <div class="mega-menu expandable">
            <div class="content">
              <div class="col" style="justify-content: center;">
                <section>
                  <a href="#" class="img-wrapper">
                    <span class="img">
                      <img src="https://www.academy-pathfinders.com/imgs/bear-bull.jpg" alt="bear bull" />
                    </span>
                  </a>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="https://www.academy-pathfinders.com/devenir-rentable/risk-management">🏆 Risk Management</a></li>
                    <li><a href="https://www.academy-pathfinders.com/devenir-rentable/journal-de-trading">🧾 Journal de trading</a></li>
                    <li><a href="https://www.academy-pathfinders.com/devenir-rentable/psychologie">🧠 Psychologie</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Ressources</a>
          <div class="mega-menu expandable">
            <div class="content">
              <div class="col" style="justify-content: center;">
                <section>
                  <a href="#" class="img-wrapper">
                    <span class="img">
                      <img src="https://www.academy-pathfinders.com/imgs/einstein.jpg" alt="einstein" />
                    </span>
                  </a>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="https://www.academy-pathfinders.com/news">📌 News</a></li>
                    <li><a href="https://www.academy-pathfinders.com/ressources/glossaire">🎓 Glossaire</a></li>
                    <li><a href="https://www.academy-pathfinders.com/ressources/documents">📚 Documents & Liens</a></li>
                    <li><a href="https://www.academy-pathfinders.com/ressources/outils">🛠 Outils supplémentaires</a></li>
                    <li><a href="https://www.academy-pathfinders.com/ressources/contact">💬 Contacts</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li class="nohover">
          <a href="https://discord.com/invite/4ErWuNkzDq" target="_blank">
            <img src="https://www.academy-pathfinders.com/imgs/picto-discord.png" alt="picto Discord">
          </a><a href="https://twitter.com/PathfindersTG" target="_blank">
            <img src="https://www.academy-pathfinders.com/imgs/picto-X.png" alt="picto X">
          </a>
        </li>
      </ul>
    </header>
    <div class="spaceHead"></div>
    <div class="imgback"></div>

    <div class="contentPage">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>
</html>
