<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta property="og:title" content="TabLock">
    <meta property="og:description" content="TabLock • Une aventure jonchée de mystères.">
    <meta property="og:image" content="https://tablockfr.github.io/TabLock/imgs/illu_tablock.jpg">
    <meta property="og:type" content="website">
    
    <link rel="stylesheet" href="https://tablockfr.github.io/TabLock/style.css" />
    <link rel="icon" href="https://tablockfr.github.io/TabLock/imgs/favicon_tablock_32.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://tablockfr.github.io/TabLock/main.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="menu-btn">
        <div class="menu-btn__lines"></div>
      </div>
      <a href="https://tablockfr.github.io/TabLock/" class="logo">
        <img src="https://tablockfr.github.io/TabLock/imgs/logo-tablock.png" alt="logo TabLock">
      </a>
      <ul class="menu-items">
        <li>
            <a href="#" class="menu-item expand-btn">Jouer</a>
            <div class="mega-menu expandable">
                <div class="content">
                  <div class="col" style="justify-content: center;">
                    <section>
                      <a href="#" class="img-wrapper">
                        <span class="img">
                          <img src="https://tablockfr.github.io/TabLock/imgs/loupe.jpg" alt="loupe" />
                        </span>
                      </a>
                    </section>
                  </div>
                  <div class="col">
                      <section>
                      <ul class="mega-links">
                        <li><a href="https://tablockfr.github.io/TabLock/aventure/lokamalis">Lokamalis</a></li>
                      </ul>
                      </section>
                  </div>
                </div>
            </div>
        </li>
        <li>
          <a href="#" class="menu-item expand-btn">Solutions</a>
          <div class="mega-menu expandable">
            <div class="content">
              <div class="col" style="justify-content: center;">
                <section>
                  <a href="#" class="img-wrapper">
                    <span class="img">
                      <img src="https://tablockfr.github.io/TabLock/imgs/solutions.jpg" alt="solutions" />
                    </span>
                  </a>
                </section>
              </div>
              <div class="col">
                <section>
                  <ul class="mega-links">
                    <li><a href="https://tablockfr.github.io/TabLock/solutions/lokamalis">Lokamalis</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </li>
        <li class="nohover">
          <a href="https://instagram.com/tablock.fr/" target="_blank">
            <img src="https://tablockfr.github.io/TabLock/imgs/picto-instagram.png" alt="picto Insta">
          </a><a href="https://www.facebook.com/people/Tablock" target="_blank">
            <img src="https://tablockfr.github.io/TabLock/imgs/picto-facebook.png" alt="picto Facebook">
          </a>
        </li>
      </ul>
    </header>
    <div class="spaceHead"></div>
    <div class="imgback"></div>

    <div class="contentPage">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>
</html>
